<h3>Register</h3>
<p>You don't have to leave an email address. If you do, we'll send you a weekly program of thw shows that are programmed. If you don't, whateverrr.
</p>
<form action="/register" method="post">
    <table>
        <tr>
            <td>
                Username (max. 15 characters)
            </td>
            <td>
                <input type="text" name="username" maxlength="15">
            </td>
        </tr>
        <tr>
            <td>
                Email Address
            </td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                Password Confirmation
            </td>
            <td>
                <input type="password" name="passwordConf">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="register">
            </td>
        </tr>
    </table>
</form>