<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

        </style>
    </head>
    <body>
        <div id="container">
               <h1>name</h1>
               <%= info.userInfo.username %>
               <h1>email</h1>
               <%= info.userInfo.email %>
        </div>
        <a href="/logout">logout</a>
    </body>
</html>


